body {
    background-color: #00AEEF;
}

.bloco {
    background-color: #FFFFFF;
    color: #000000;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100em;
    max-height: 22.5em;
    width: auto;
    height: auto;
}

img {
    max-width:400px;
    max-height:300px;
    width: auto;
    height: auto;

}

p {
    font-size: 4ex;
}